<template>
    <div class='row'>


        <div class="col-auto" v-for="wallet in otherWallets" >
            <div class="card  bg-dark text-white card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Total {{ wallet.currency }}</h5>
                            <span class="h2 font-weight-bold mb-0 text-success">{{ wallet.total }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white">{{ wallet.status }}</span>
                    </p>
                </div>
            </div>
       </div>
	<hr>



        <div class="col-auto">
            <div class="card  bg-dark text-white card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Total PLOT Size</h5>
                            <span class="h2 font-weight-bold mb-0 text-success">{{ plotFarmingSize }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white">Existing PLOTS</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card  bg-dark text-white card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Total Plots</h5>
                            <span class="h2 font-weight-bold mb-0 text-success">{{ plotFarmingCount }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white">Existing PLOTS</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card  bg-dark text-white card-stats mb-4 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Farmer</h5>
                            <span class="h2 font-weight-bold mb-0 text-success">{{ farmers.length }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white">Existing PLOTS</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card  bg-dark text-white card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Total XCH</h5>
                            <span class="h2 font-weight-bold mb-0 text-success">{{ totalXCH }} XCH</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white">{{ totalXCHDetail }} XCH</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-auto">
            <div class="card  bg-dark text-white card-stats mb-4 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Farming Status</h5>
                            <span class="h2 font-weight-bold mb-0" v-bind:class="[ farmingHealth == 'Partially' ? 'text-warning' : 'text-success' ]">{{ checkHealth() }} <i ></i></span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow"   v-for='farmer in farmers'>
                                <div>
                                    {{ farmer.hostname }}
                                    <i class="text-bold bi bi-activity"  v-bind:class="[ farmer.farming_status == 'Farming' ? 'text-success' : 'text-danger'  ]"></i> 
                                    {{ farmer.farming_status}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card  bg-dark text-white card-stats mb-4 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Netspace</h5>
                            <span class="h2 font-weight-bold mb-0 text-success" >{{ farmers[0].farming_estimtated_network }}</span>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white">{{ farmers[0].blockchain_sync_status }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card  bg-dark text-white card-stats mb-4 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">NFTPlot Point Rate</h5>
                            <span class="h2 font-weight-bold mb-0 text-success" >{{ this.averageNFTPlotRate.toFixed(2) }}%</span>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> </span>
                        <span class="text-nowrap  text-white">{{ farmers[0].nftplot_points_found_24h }} Points over 24h</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class="col-12">
            <br>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="chia-show-tab" data-bs-toggle="tab" data-bs-target="#chia-show" type="button" role="tab" aria-selected="true">Chia Show</button>
                    <button class="nav-link" id="chia-wallet-tab" data-bs-toggle="tab" data-bs-target="#chia-wallet" type="button" role="tab" aria-selected="false">Wallet</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-selected="false">Contact</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="chia-show" role="tabpanel" aria-labelledby="chia-show-tab">
                    <pre  class="form-control" disabled="" style="height: 700px">
                        {{ farmers[0].latest_log }}
                    </pre>

                </div>
                <div class="tab-pane fade" id="chia-wallet" role="tabpanel" aria-labelledby="chia-wallet-tab">
                    <pre>
                        {{ wallet }}
                    </pre>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            </div>

        </div>
    </div>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    import Layout from './../Layouts/Layout'
    export default {
        layout: Layout,
        components: {
            Link
        },
        props: {
            plotFarmingSize: String,
            plotFarmingCount: String,
            farmers: String,
            totalXCH: Number,
            totalXCHDetail: Number,
            wallet: Array,
            otherWallets: Array

        },
        data() {
            return {
                farmingHealth: "Farming",
                averageNFTPlotRate: 0
            }

        },
        methods: {
            checkHealth: function () {
                var nftplotRate = 0;
                this.farmers.forEach((value, index) => {
                    nftplotRate += parseFloat(value.nftplot_points_rate);
                    if (value.farming_status != "Farming") {
                        this.farmingHealth = "Partially";
                    }
                })
                this.averageNFTPlotRate = nftplotRate/this.farmers.length;
                
                return this.farmingHealth;
            }
        }
    }

</script>
