<template>
    <div>
        Dashboard {{ loginLink }}
        <div class='table-responsive'>
            <table class='table table-hover text-nowrap'>
                <tbody>
                    <tr v-for='farmer in farmerList'>
                        <td scope='col'>{{ farmer.hostname }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    import Layout from './../Layouts/Layout'
    export default {
        layout: Layout,
        components: {
            Link
        },
        props: {
            farmerList: Array
        }
    }

</script>