<template>
    <div>
        <div class='table-responsive'>
            <table class='table table-hover text-nowrap  caption-to'>
                <thead>
                <th>#</th>
                <th>Hostname</th>
                <th>Server IP</th>
                </thead>
                <tbody>
                    <tr v-for='(farmer, index) in farmerList'>
                        <td scope='col'>{{ index }}</td>
                        <td scope='col'>{{ farmer.hostname }}</td>
                        <td scope='col'>{{ farmer.server_ip }}</td>
                        <td scope='col'>
                            <Link v-bind:href="'farmer/'+farmer.id" class="btn btn-primary"> Detail</Link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    import Layout from './../Layouts/Layout'
    export default {
        layout: Layout,
        components: {
            Link
        },
        props: {
            farmerList: Array
        },
        methods: {
            showDetails() {
                console.log(123);
            }
        }
    }

</script>