<template>

    <div class='row'>
        <div class='row'>
            <div class="col-3">
                <div class="card  bg-dark text-white card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Plots</h5>
                                <span class="h2 font-weight-bold mb-0 text-success">{{ totalPlots }}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                            <span class="text-nowrap  text-white">Existing PLOTS</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card  bg-dark text-white card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Farming Plots </h5>
                                <span class="h2 font-weight-bold mb-0 text-success">{{ details.farming_size }} </span> 
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                            <span class="text-nowrap  text-white">{{ details.farming_plots }}  Farming Plots</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='table-responsive'>
                <table class='table '>
                    <thead>
                    <th>#</th>
                    <th>Disk</th>
                    <th>Size</th>
                    <th>Plots</th>
                    <th>Health</th>
                    <th>Chia Health</th>
                    </thead>
                    <tbody>
                        <tr v-for='(disk, index) in details.disks' >
                            <td scope='col'>{{ index }}</td>
                            <td scope='col'>{{ disk.partition_label }}</td>
                            <td scope='col'>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" 
                                         v-bind:style="'width: '+usedSpaceProgressBar(disk)+'%'">
                                        {{ usedSpaceProgressBar(disk).toFixed(2) }}%
                                    </div>
                                </div>
                                {{ convertGBToTB(disk.used) }} / {{ convertGBToTB(disk.size) }}
                            </td>
                            <td scope='col'>

                                <div class="progress">
                                    <div class="progress-bar "
                                         v-bind:class="[isAllSpaceUsed(disk) ? 'bg-success' : 'bg-warning' ]"
                                         role="progressbar" 
                                         v-bind:style="'width: '+usedSpacePerPlotProgressBar(disk).toFixed()+'%'">
                                        {{ usedSpacePerPlotProgressBar(disk).toFixed() }}%
                                    </div>
                                </div> 
                                {{ disk.plot.length }} / {{ plotsPerSpaceDisk(disk) }} <span v-if='disk.plot.length < plotsPerSpaceDisk(disk)' class='text-warning'>({{ disk.plot.length - plotsPerSpaceDisk(disk) }})</span>
                            </td>
                            <td scope='col'>
                                <label v-if="disk.disk_state == 'running'" class="badge rounded-pill  bg-success">{{ disk.disk_state }}</label>
                                <label v-else class="badge rounded-pill bg-danger">{{ disk.disk_state }}</label>
                            </td>
                            <td scope='col'>
                                <label v-if="disk.chia_farming_health == 'running'" class="badge rounded-pill  bg-success">{{ disk.chia_farming_health }}</label>
                                <label v-else class="badge rounded-pill bg-danger">{{ disk.chia_farming_health }}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    import Layout from './../Layouts/Layout'
    export default {
        layout: Layout,
        components: {
            Link
        },
        props: {
            details: Array,
            totalPlots: String
        },
        methods: {
            usedSpaceProgressBar(disk) {
                return disk.used / disk.size * 100;
            },
            usedSpacePerPlotProgressBar(disk) {
                return disk.plot.length / this.plotsPerSpaceDisk(disk) * 100;
            },
            plotsPerSpaceDisk(disk) {
                return Math.floor((disk.size / 102));
            },
            isAllSpaceUsed(disk) {
                if (this.usedSpacePerPlotProgressBar(disk) == 100) {
                    return true;
                }
                return false;
            },
            convertGBToTB(size) {
                return (size / 1000).toFixed(2) + " TB";
            }
        }
    }

</script>