<template>
    <footer class="mt-5 text-center">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright: Alban Mulaki
        </div>
        <!-- Copyright -->    
    </footer>
</template>

<script>

    export default{

    }
</script>