<template>
    <main>
        <main-menu></main-menu>
        <div class="container px-lg-5" style="margin-top: 150px">
            <slot />
        </div>
    </main>
    <!--Main layout-->
    <bottom-footer></bottom-footer>

</template>


<script>
    import MainMenu from './MainMenu'
    import BottomFooter from './BottomFooter'
    export default{
        components: {
            MainMenu,
            BottomFooter
        }
    }
</script>