<template>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4"><img src='https://www.chia.net/img/branding/chia-logo.svg'></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <Link class="nav-link active"  aria-current="page" href="/">
                <span>Summary</span>
                </Link>
            </li>
            <li class="nav-item">
                <Link class="nav-link "  href="/farmer">
                <span>Farmers</span>
                </Link>
            </li>
        </ul>
    </div>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    export default {
        components: {
            Link
        }
    }
</script>